@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

.cartList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.cartGreeting {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: #cb6ce6;
}

.cartPurchaseId {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #cb6ce6;
}

.cartPurchaseId span {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-decoration: underline;
    color: #8c52ff;
}

.cartItem {
    display: flex;
    flex-direction: row;
    height: 10rem;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
    border: 0.1rem solid #cb6ce6;
    border-radius: 15px;
    padding: 1rem;
}

.cartPictureContainer {
    width: 20%;
    margin-right: 2rem;
}

.cartData {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cartPicture {
    width: 10rem;
}

.cartTitle {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #8c52ff;
}

.cartPrice {
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    color: #8c52ff;
}

.cartQuantity {
    font-size: 1.2rem;
    color: #cb6ce6;
}

.cartBtnContainer {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.cartRemove {
    font-size: 1.2rem;
    color: white;
    width: 8rem;
    height: 2rem;
    background-color: rgb(219, 21, 21);
    border: 0.1rem solid rgb(219, 21, 21);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.cartRemove:hover {
    background-color: rgb(138, 6, 6);
}

.cartClear {
    font-size: 1.25rem;
    color: white;
    width: 15rem;
    height: 3rem;
    background-color: rgb(219, 21, 21);
    border: 0.1rem solid rgb(219, 21, 21);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin: 1rem 0 1rem 0;
}

.cartClear:hover {
    background-color: rgb(138, 6, 6);
}

.cartBuy {
    font-size: 1.25rem;
    color: white;
    width: 15rem;
    height: 3rem;
    background-color: rgb(19, 163, 26);
    border: 0.1rem solid rgb(19, 163, 26);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin: 1rem 0 1rem 0;
}

.cartBuy:hover {
    background-color: rgb(11, 105, 16);
}

.cartTotal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 1rem;
    width: 60%;
    align-items: center;
    padding: 1rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modalTitle {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #cb6ce6;
}

.modal-main {
    border: 0.1rem solid #8c52ff;
    border-radius: 10px;
    position:fixed;
    background: white;
    width: 60%;
    height: 60%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modalInputs {
    border: 0.1rem solid #cb6ce6;
    border-radius: 10px;
    margin: 1rem;
    width: 80%;
    height: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.modalBtnContainer {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.modalClose {
    font-size: 1.25rem;
    color: white;
    width: 15rem;
    height: 3rem;
    background-color: rgb(219, 21, 21);
    border: 0.1rem solid rgb(219, 21, 21);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin: 2.5rem 0 1rem 0;
}

.modalClose:hover {
    background-color: rgb(138, 6, 6);
}

.modalConfirm {
    font-size: 1.25rem;
    color: white;
    width: 15rem;
    height: 3rem;
    background-color: rgb(19, 163, 26);
    border: 0.1rem solid rgb(19, 163, 26);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin: 2.5rem 0 1rem 0;
}

.modalConfirm:hover {
    background-color: rgb(11, 105, 16);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

@media(max-width:768px) {
    .cartItem {
        height: 15rem;
        width: 90%;
    }

    .cartPicture {
        width: 12.5rem;
    }

    .cartTitle {
        font-size: 2.2rem;
        margin-block: 0;
    }

    .cartPrice {
        font-size: 1.75rem;
        margin-block: 0;
    }

    .cartQuantity {
        font-size: 1.75rem;
        margin-block: 0;
    }

    .cartRemove {
        font-size: 1.25rem;
        width: 12rem;
        height: 2.5rem;
    }

    .cartData {
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;
    }
    .cartTotal {
        height: 2rem;
        width: 90%;
    }

    .modal-main {
        width: 90%;
        height: 70%;
    }

    .modalTitle {
        width: 70%;
        margin-bottom: 3rem;
    }

    .modalBtnContainer {
        gap: 5rem;
    }
}

@media(max-width:480px) {
    .cartItem {
        height: 12rem;
        width: 90%;
        padding: 0.5rem;
    }

    .cartPictureContainer {
        width: 20%;
        margin: 0;
    }

    .cartPicture {
        width: 10rem;
    }

    .cartTitle {
        font-size: 1.75rem;
    }

    .cartPrice {
        font-size: 1.35rem;
    }

    .cartQuantity {
        font-size: 1.3rem;
    }

    .cartRemove {
        font-size: 1rem;
        width: 10rem;
    }

    .cartData {
        gap: 1rem;
        width: 80%;
    }

    .cartBtnContainer {
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .modal-main {
        width: 90%;
        height: 95%;
    }

    .modalTitle {
        width: 85%;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }

    .modalBtnContainer {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .modalConfirm {
        width: 15rem;
        height: 3rem;
        margin: 0.5rem;
    }

    .modalClose {
        width: 15rem;
        height: 3rem;
        margin: 1.5rem 0.5rem;
    }
}