@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

.detail {
    border: 0.1rem solid #cb6ce6;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0 2rem 0;
    width: 60%;
    height: 30rem;
}

.detailImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 2rem 0;
}

.detailImg {
    height: 25rem;
}

.detailItem {
    width: 25rem;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-left: 0.1rem solid #cb6ce6;
}

.detailTitle {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: #8c52ff;
}

.detailText {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: #cb6ce6;
}

.detailCart {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: #cb6ce6;
}

.detailPrice {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #8c52ff;
}

.detailStock {
    margin: 1rem 0 1rem 0;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #cb6ce6;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carritoBtn {
    font-size: 1.2rem;
    color: white;
    width: 12rem;
    height: 2.5rem;
    background-color: rgb(19, 163, 26);
    border: 0.1rem solid rgb(19, 163, 26);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin: 0.5rem;
}

.carritoBtn:hover {
    background-color: rgb(11, 105, 16);
}

.removeBtn {
    font-size: 1.2rem;
    color: white;
    width: 12rem;
    height: 2.5rem;
    background-color: rgb(219, 21, 21);
    border: 0.1rem solid rgb(219, 21, 21);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.removeBtn:hover {
    background-color: rgb(138, 6, 6);
}

@media(max-width:768px) {
    .detail {
        margin: 2rem 0;
        width: 95%;
        height: 35rem;
    }

    .detailImg {
        height: 24rem;
    }

    .detailTitle {
        margin-block: 0.5rem;
    }

    .detailText {
        font-size: 1.65rem;
        margin-block: 0.5rem;
    }

   .detailPrice {
        margin-block: 0.5rem;
    }

    .btnContainer {
        flex-direction: column;
        column-gap: 4rem;
    }

    .carritoBtn {
        font-size: 1.25rem;
        width: 15rem;
        height: 3rem;
        margin-bottom: 1rem;
    }

    .removeBtn {
        font-size: 1.25rem;
        width: 15rem;
        height: 3rem;
    }

    .detailStock {
        font-size: 1.25rem;
    }
}

@media(max-width:480px) {
    .detail {
        margin: 1.25rem 0 1rem 0;
        width: 95%;
        height: 40rem;
        flex-direction: column;
    }

    .detailImgContainer {
        margin: 0;
        padding: 1rem;
        height: 40%;
        width: 80%;
    }

    .detailItem {
        height: 60%;
        width: 90%;
        border: none;
        padding-bottom: 1rem;
    }

    .detailImg {
        height: 100%;
    }

    .detailTitle {
        font-size: 2rem;
    }

    .detailText {
        font-size: 1.25rem;
    }

   .detailPrice {
        font-size: 1.5rem;
    }

    .carritoBtn {
        width: 12rem;
        margin: 0.5rem 0;
        font-size: 1rem;
    }

    .removeBtn {
        width: 12rem;
        margin: 0.5rem;
        font-size: 1rem;
    }

    .detailStock {
        font-size: 1rem;
        margin: 0;
    }
}