@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

.item {
    border: 0.1rem solid #a976c3;
    border-radius: 15px;
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemPicture {
    width: 10rem;
    margin-top: 1rem;
}

.itemTitle {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #5f2a62;
}

.itemTitle:hover {
    color: #a976c3;
}

.itemPrice {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    color: #5f2a62;
}

.itemPrice:hover {
    color: #a976c3;
}

.itemLinks {
    text-decoration: none;
}

.stock {
    font-size: 0.8rem;
}