@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

.item {
    border: 0.1rem solid #cb6ce6;
    border-radius: 15px;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemLinks {
    text-decoration: none;
}

.itemPicture {
    width: 10rem;
    margin-top: 1rem;
}

.itemTitle {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #8c52ff;
}

.itemTitle:hover {
    color: #cb6ce6;
}

.itemPrice {
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    color: #8c52ff;
}

.itemPrice:hover {
    color: #cb6ce6;
}

.btnVerMas {
    font-size: 0.9rem;
    color: white;
    width: 10rem;
    height: 2rem;
    background-color: #8c52ff;
    border: 0.1rem solid #8c52ff;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.btnVerMas:hover {
    
    background-color: #cb6ce6;
    border: 0.1rem solid #cb6ce6;
}

.stock {
    font-size: 0.8rem;
    color: #8c52ff;
}