@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

.nav {
    /* position: fixed; */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    height: 5rem;
    background-color: #c9e265;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 1rem;
    overflow: hidden;
}

.logoContainer {
    justify-content: flex-start;
    width: 25%;
}

.logo {
    height: 10rem;
}

.logoImg {
    display: block;
    margin-top: 1rem;
    width: 10rem;
}

.navUl {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding-inline-start: 0;
}

.navLi {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    font-weight: 400;
    font-size: 1.5rem;
}

.links {
    text-decoration: none;
    transition: 0.7s ease;
    color: #8c52ff;
}

.links:visited{
    color: #8c52ff;
}

.links:hover{
    color: #cb6ce6;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #8c52ff;
}

@media(max-width:768px) {
    .logoContainer {
        width: 20%;
    }
    
    .logo {
        width: 100%;
        height: auto;
    }
    
    .hamburger {
        display: block;
        width: 10%;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navUl {
        position: absolute;
        left: -100%;
        top: 70px;
        flex-direction: column;
        gap: 0;
        background-color: #c9e265;
        text-align: center;
        width: 100%;
        transition: 0.3s;
    }

    .active {
        left: 0;
    }

    .navLi {
        margin: 16px 0;
        font-size: 2rem;
    }
}

@media(max-width:480px) {
    .logoContainer {
        width: 40%;
    }

    .hamburger {
        display: block;
        width: 15%;
    }
}