@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

.counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0.1rem solid #8c52ff;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.cantidad {
    margin: 0 1rem 0 1rem;
}

.counterBtn {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
}

.minusBtn {
    border: 0;
    border-right: 0.1rem solid #8c52ff;
    border-radius: 10px;
    background-color: #cb6ce6;
    color: white;
}

.plusBtn {
    border: 0;
    border-left: 0.1rem solid #8c52ff;
    border-radius: 10px;
    background-color: #cb6ce6;
    color: white;
}

.counterBtn:hover {
    background-color: #8c52ff;
    color: white;
}