@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

.counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0.1rem solid #8c52ff;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.cantidad {
    margin: 0 1rem 0 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.counterBtn {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.minusBtn {
    border: 0;
    border-right: 0.1rem solid #8c52ff;
    border-radius: 10px;
    background-color: #cb6ce6;
    color: white;
}

.plusBtn {
    border: 0;
    border-left: 0.1rem solid #8c52ff;
    border-radius: 10px;
    background-color: #cb6ce6;
    color: white;
}

.counterBtn:hover {
    background-color: #8c52ff;
    color: white;
}

@media(max-width:768px) {
    .counter {
        margin: 0.5rem 0;
    }
    
    .counterBtn {
        font-size: 1.75rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    .cantidad {
        margin: 0 1.25rem 0 1.25rem;
        font-size: 1.5rem;
    }
}

@media(max-width:480px) {
    .counter {
        margin: 1rem 0;
    }
    
    .counterBtn {
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
    }

    .cantidad {
        margin: 0 1.5rem 0 1.5rem;
        font-size: 2rem;
    }
}